<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-noticias [news]='news' [loadData]='loadData' [numPage]='numPage' [tab]='tab'></app-noticias>
</ion-content>
