<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>

  <ion-segment [(ngModel)]='categoria' (ionChange)="segmentChanged($event)" >
    <ion-segment-button *ngFor="let categoria of categorias" value={{categoria}}>
      <ion-label>{{categoria}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  
</ion-header>



<ion-content>
  <app-noticias [news]='news' [loadData]='loadData' [numPage]='numPage' [categoria]='categoria'></app-noticias>
   <ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
