<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <app-noticias [news]='news' [loadData]='loadData' [numPage]='numPage'></app-noticias>
  </ion-content>
  


